.footer-content{
    color: var(--white);
    text-align: center;
}

.footer-content{
    justify-content: center;
}

.footer-logo{
    display: none;
}

@media screen and (min-width: 768px) {
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logo{
        display: block;
    }

    .footer-content .social{
        order: 3;
        padding: 0;
        
    }
}

@media screen and (min-width: 1024px) {
    .footer-copyrigth{
        display: flex;
        gap: 8px;
    }

    .footer-content{
        margin-block-start: 40px;
        margin-block-end: 40px;
    }
}