@import "./button.css";
@import "./header.css";
@import "./button-icon.css";
@import "./hero.css";

:root{
    --font-base: 'Poppins', sans-serif;
    --headline1: bold 95px/153.71px var(--font-base);
    --headline2: bold 59px/95px var(--font-base);
    --headline3: bold 48px/77px var(--font-base);
    --headline4: bold 34px/55px var(--font-base);
    --headline5: bold 24px/38px var(--font-base);

    --body1: bold 16px/25px var(--font-base);
    --body2: bold 14px/22px var(--font-base);

    --button: bold 14px/22px var(--font-base);
    --caption: 12px/19px var(--font-base);

    --gradient: linear-gradient(209deg, rgba(117,230,255,1) 37%, rgba(109,36,193,1) 100%);
    --purple: #310A90;
    --green: #42E2BB;
    --white: #fff;
}

body{
    background: var(--gradient);
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--purple);
}
